body.contact {
  .default-header {
    .bg {
      background-image: url('../images/audience-01.jpg');
      filter: blur(3px);
    }
  }

  .default-footer {
    background-image: url('../images/sponsor-hall-03_16x9.jpg');
  }
}