@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600,600i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700&display=swap');

body {
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  @include fonts_responsive(18px);
}

