@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600,600i&display=swap')
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700&display=swap')


$color-blue: #004659
$color-green: #40FF98
$color-orange: #fc4600
$color-white: #fff

a
  color: $color-white
  text-decoration: underline
  
  &:hover
    color: $color-white
    text-decoration: underline !important
    
  &.btn
    text-decoration: none
    
    &:hover
      text-decoration: none !important

.btn
  font-family: 'Fira Mono', 'Courier', sans-serif

body, html
    background: $color-blue
    color: #fff
    font-family: 'Source Sans Pro', sans-serif
    font-weight: 300
    margin: 0
    padding: 0

.camp
  padding: 0 5vw 0
  
  .row
    padding: 0 0 10vw
    border-bottom: 1px solid $color-white
    margin: 10vw 0

.camp-list
  text-align: center
  img
    margin: auto
    width: 50%

#footer-main
  background: $color-blue
  margin: 0
  padding: 2vw
  box-shadow: 0 -10px 25px rgba(0,0,0,0.25)
  
#header-main
  background: $color-blue
  display: flex
  flex-direction: column
  box-shadow: 0 10px 25px rgba(0,0,0,0.25)
  
  .navbar
    &.bg-dark
      background: $color-blue !important
      a
        color: $color-white
  
  .dropdown-menu
    background-color: $color-blue
    
  .navbar-brand
    background-image: url('../svg/TABConf-2020-Logo_Color-Dark.svg')
    background-size: contain
    background-repeat: no-repeat
    background-position: center center
    text-indent: -999rem
    width: 7rem
    height: 0
    padding-bottom: 12%

.hero
  background-image: url('../images/tabconf-network.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  padding: 0
  min-height: 50vh
  padding: 1rem
  
  .subtitle
    font-size: 1.5rem

img
  display: block
  width: 100%

.intro
  background: $color-blue
  box-shadow: 0 10px 25px rgba(0,0,0,0.25)
  *[class^='col']
    padding: 1rem
    
  h2
    color: $color-green
    font-size: 1.5rem

.main-container
  padding: 0

.metadata
  margin: 0 1rem 0 0
  display: flex
  align-items: center
  
  *[class*="fa-"]
    background-color: $color-green
    color: $color-blue
    margin-right: 0.5rem
    padding: 0.5rem
    width: 2rem
    height: 2rem
    border-radius: 1rem

.metadata-group
  display: flex

p
  &:last-child
    margin-bottom: 0
