.mfp-close-btn-in .mfp-close,
.creative-inline::after,
.bg-primary,
.label-primary,
nav.navbar.bootsnav ul.nav li.dropdown > ul.dropdown-menu,
nav.navbar.bootsnav ul.nav li.dropdown > ul.dropdown-menu li:hover > a,
ul.cart-list > li.total > .btn,
.attr-nav > ul > li > a span.badge,
nav.navbar .share ul > li > a:hover,
nav.navbar .share ul > li > a:focus,
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.btn-default:active:hover,
.btn-default:active:focus,
.btn-primary,
.btn-play--primary,
.btn-play--hoverGradient:hover,
.btn-play--hoverPrimary:hover,
.BackToTop:hover,
.Heading-wing::before,
.Heading-wing::after,
.Heading-wing--darker,
.Dot,
.Blurb:hover .Blurb__hoverBg,
.Blurb--hoverBg:hover,
.blurbMultiColor .blurb--primary,
.ImageBlock__image__title::after,
.nav-tabs > li.active::before,
.panel-primary .panel-title > a[aria-expanded="true"],
.progress--primary .progress-bar,
.bg-dark .progress.progress--primary .progress-bar,
.bg-darker .progress.progress--primary .progress-bar,
.product-item .product-overlay,
.product-item .sale-label,
.portfolio-nav,
.Thumb--primary {
    background: #0b79f9;
}



a:hover,
a:focus,
a:active,
.text-primary,
nav.navbar.bootsnav ul.nav > li:hover > a,
nav.navbar.bootsnav ul.nav > li.active > a,
.btn-link,
.btn-shadow:hover,
.btn-shadow:focus,
.btn-shadow.focus,
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white:active,
.btn-white.active,
.btn-white:active:hover,
.btn-white:active:focus,
.btn-play,
.btn-play:hover,
.btn-play--hoverGradient,
.Blurb:hover .Blurb__hoverText,
.Blurb:hover .Blurb__hoverBtn.btn-default,
.Blurb--hoverBg:hover .Blurb__hoverBtn.btn-default:hover,
.Blurb--hoverBg:hover .Blurb__hoverBtn.btn-default:focus,
.Blurb--hoverBg:hover .Blurb__hoverBtn.btn-default:active:hover,
.Blurb--hoverBg:hover .Blurb__hoverBtn.btn-default:active:focus,
.Shortcode__,
.nav-tabs > li > a h2,
.panel-shadow .panel-title > a[aria-expanded="true"],
.panel-border .panel-title > a[aria-expanded="true"],
.product-item .product-price,
.portfolio-grid .portfolio-item .portfolio-image .portfolio-hover-title .portfolio-content .portfolio-category span,
.default-color,
.Thumb--primaryOutline {
    color: #0b79f9;
}

.Blockquote--borderLeft2 {
    border-left: 2px solid #0b79f9;
}
.Blockquote--borderLeft5 {
    border-left: 5px solid #0b79f9;
}


ul.cart-list > li.total > .btn,
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.btn-default:active:hover,
.btn-default:active:focus,
.btn-primary,
.form-control:focus,
.bg-darker .form-control:focus,
.bg-dark .form-control:focus,
.Blurb:hover .Blurb__hoverBtn.btn-default,
.panel-primary .panel-title > a[aria-expanded="true"],
.Thumb--primaryOutline {
    border-color: #0b79f9;
}


.btn-play:hover {
    color: #fff;
}

@media screen and (max-width: 992px) {

    .portfolio-nav:before {
        background: #0b79f9;
    }

}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li a:hover, nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li a:hover {
    background-color: rgba(0,0,0,.3) !important;
}

.mfp-close-btn-in .mfp-close:hover {
    background: #ff3e12;
}


.text-secondary {
    color: #ff3e12;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:hover,
.btn-primary:active:focus {
    border-color: #ff3e12;
    background-color: #ff3e12;
}

